[submodule "rlbench-dataset-utils"]
	path = rlbench-dataset-utils
	url = git@github.com:SimonReese/rlbench-dataset-utils.git
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/huggingface/lerobot.git
